pydantic
pandas
numpy
langchain
python-dotenv
langchain_community
bs4
lxml
arxiv
langchain-text-splitters
wikipedia
langchain_huggingface
faiss-cpu
chromadb
langchain_openai
beautifulsoup4
streamlit
langchain_core
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
transformers
sentence_transformers
langchain_google_genai
langchain_ollama
dataclasses
langgraph
typing_extensions
IPython
langchain_chroma
langchain_tools